body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flex-cont {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
    padding-left: 5%;
    margin-top: 30px;
}

.text {
    width: 75%;
    margin-left: 20px;
}

.add-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.midsec {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.box {
    box-shadow: 10px 10px 30px grey;
    width: 40%;
    margin: 5%;
    border-radius: 5px;
    padding: 10px 20px;
}

h2 {
    font-size: 35px;
}

.expr {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}